* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.font-balmasiq {
	font-family: 'Balsamiq Sans', cursive;
}

.font-tangerine {
	font-family: 'Tangerine', cursive;
}

em {
	font-family: 'Tangerine', cursive;
	font-size: 2.2em;
}

body {
	margin: 0;
	
}

/*979797*/

header {
	background: #757575;
	width: 100%
}

.main-logo {
	float: left;
	width: 13%;
	margin-top:20px;
}

.navbar {
	display: flex;
	flex-direction: row;
	padding:10px;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	width: 100%;
}

.navbar-button {
	text-align: center;
	font-size: 20px;
	color: white;
	text-decoration: none;
	border-radius: 11px;
	background: #757575;
	border: none;
	padding: 10px;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
}

.navbar-button:hover {
	background: #454545;	
}

.menu-cat-img{
	width: 30px;
}


.more-button{
	text-align: center;
	display: flex;
	flex-direction: row;
	color: white;
	text-decoration: none;
	border-radius: 11px;
	background: #454545;
	width: 140px;	
	height: 50px;
	margin-right: 20px;
	padding-right: 10px;	
}
.inputWhite {
	width: 100%;
	background: white;
	border-radius: 11px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
}

.fa{
	margin:20px;
}

.more-button:hover {
	background:  rgb(54, 52, 52);
}
.more-button button {
	background: none;
	border: none;
	color:white;
	padding: 10px;
	margin-right: 15px;
	margin-left: 15px;
	font-size: 20px;
}

.buIcon {
	padding-right: 5px;
}


.searchForm {
	padding: 20px;
	border-radius: 11px;
	width:200px;
	border: none;
}
.searchForm:focus{
	outline: none;
}

.formContainer {
	margin-right: 40px;
}

.latest-articles {
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: white;
}

.latest-articles > div {
	width: 100%;
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	padding-top: 20px;
	padding-left: 80px;
}

.latest-articles > div > h1{
	font-size: 40px;
	width:70%;
}

.profileImageDiv{
	margin-top: 20px;
}

.profileImg {
	width:60px;
	border: 5px solid white;
	border-radius: 11px;
	vertical-align: middle;
	box-shadow:  0px 20px 40px 10px rgb(54, 52, 52, 0.8);
	transform: rotate(-15deg);
	transform-origin: left bottom;
}

.profileImg:hover{
	transform: rotate(0deg);
	box-shadow:  0px 20px 500px 10px rgb(54, 52, 52, 0.0);
}

.profileName {
	font-size: 1.4em;
	text-align: center;
}

.imgContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.imgContainer div {
	padding: 10px;
	text-align: center;
}

.spanContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.spanContainer span {
	margin-right: 40px;
}

.fa-long-arrow-right {
	margin-top: 70px;
	margin-left: 0px;
}
.inline {
	display: inline-block;
	font-size: 12px;
}
.wholeArticlesSection {
	background: #f6f3f2;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.articlesContainer {
	display: grid;	
	grid-template-columns: repeat(auto-fit, minmax(405px,1fr));
	grid-auto-columns: 890px;
	width:1850px;	
	padding-top: 50px;
	font-family: 'Balsamiq Sans', cursive;
}
.articlesDes {
	
	transition: all .2s ease-in-out;
	display: flex;
	flex-direction: column;
	
	justify-content: space-between;
	padding:30px 30px 0 30px;
}
.articlesGra {
  width:80%;
  display: flex;
  flex-direction: column;
 
  justify-content: space-between;
  padding:70px 70px 0 70px;
  height: 790px;
}
.gramarly {
  width: 366px;
  height: 300px;
  background: hsl(166, 65%, 82%);
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: grey;
  
}

.gramrBlock {
	display: block;
	text-align: center;
}



.gramarly p {
  display: block;
  text-align: center;
  width:300px;
  margin-left: 40px;
  font-size: 19px;
}
.gramarButton {
  background: rgb(44, 216, 150);
  width: 150px;
  height: 40px;
  margin-top: 30px;
  border: none;
  color: white;
}

.gramarlyPtop {
	display:block;
	text-align: center;
	font-size: 13px;
}

.articlesDes h2 {
  font-size:35px;
}

.articlesDes p {
	font-size:25px;
	color: grey;
}

.articlesDes a {
	color: rgb(71, 68, 68);
	margin-left: 5px;
}

.redArrow {
	text-align: center;
	width:150px;
	color: rgb(158, 19, 19);
	padding-bottom: 30px;
	padding-top:-20px;
	padding-left:20px;
}
.smashingAdver{
	display: block;
	text-align: center;
}
.smashingContain {
	background-color: #555555;
	height: 628px;
	width: 825px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: white;
}
.smashingContain a {
	text-decoration: none;
	color: white;
}

.smashinHeader{	
	font-size: 58px;
}

.smashingPara {
  font-size: 25px;
  width: 500px;
  margin-left: 150px;
}
.smashBconta {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.smashingButton {
	width: 400px;
	height: 100px;
	background: white;
	font-size: 35px;
	color: #277DCC;
	border-radius: 25px;
	
}


.catSmash {
  width: 245px;
}

.articlesDes:hover .redArrow{
	background: #277DCC;
}

.articlesDes:hover .textContainer{
	color: hsl(5, 65%, 51%); 
}

.articlesDes:hover .redArrow .fa{
	color:  white;
}

.articlesDes:hover {
	background: white;
	transform: scale(1.05); 	
}

.textContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 40px;
}

.gramIcon {
	width: 300px;
}




@media (max-width:750px) { 
	.latest-articles{
		display: grid;
		grid-template-columns: 1fr;
	} 
	
}

.wholeMembership{
	
	background: #1F2C43;
	justify-content: center;
}

.membership{
	
	background: #1F2C43;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: center;
	height: 500px;
	color: white;
	font-size: 22px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.membershipText{
	flex: 30%;
	padding: 40px;
}

.membershipImage{
	width: 40%;
	flex: 30%;
	justify-content: start;
	transform: rotate(-15deg);
	transform-origin: left bottom;
	
}

.membershipImage img {
	transform: scale(0.6);
}

.membershipImage:hover{
	transform: rotate(0deg);
}

.membership p a { color: #FFF; }

.membershipButton {
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 100%;
  text-shadow: #1F2C43;

}

.shippingNow {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px;
	background: rgb(27,112,186);
	background: linear-gradient(180deg, rgba(27,112,186,1) 0%, rgba(68,152,217,1) 100%);
}

.shippingNow #element1 {
	color: aliceblue;
	padding-bottom: 20px;
}

.shippingNow #element2 {
	color: aliceblue;
	font-family: 'Oxygen', sans-serif;
	font-size: 3em;
}

.shippingNow #element3 {
	color: aliceblue;
	font-family: 'Oxygen', sans-serif;
	font-size: 3em;
	padding-bottom: 30px;
}

.shippingNow #element4 {
	color: aliceblue;
	font-family: 'Oxygen', sans-serif;
	font-size: 1em;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 30px;
}

.shippingNow #element5 a {
	background: #FFF;
	color: #277DCC;
	padding-top: 1px;
	padding-bottom: 1px; 
	padding: 30px;
	margin-right: 25px;
	margin-left: 25px;
	font-size: 20px;
	border-radius: 12px;
}
/* @media (min-width: 1500px) {
	.articlesContainer {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
} */
@media (min-width: 1910px) {
	.latest-articles {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 2950px) {
	.latest-articles {
		grid-template-columns: 1fr 1fr 1fr 1fr;


	}
}

.shippingNowImage{
	margin-top: 170px;
	width: 40%;
	flex: 30%;
	justify-content: start;
	
}

.shippingNowImage img {
	transform: scale(1.6);
}

